<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>SublimeKnowledge - About</title>
    <!-- MDB icon -->
    <link rel="icon" href="/img/newLogo" type="image/x-icon" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <!-- Google Fonts Roboto -->
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Whisper&display=swap" rel="stylesheet">
    <!-- MDB ESSENTIAL -->
    <link rel="stylesheet" href="/css/mdb.min.css" />
    <!-- MDB PLUGINS -->
    <link rel="stylesheet" href="/plugins/css/all.min.css" />
    <!-- Custom styles -->
    <link rel="stylesheet" href="/css/styles.css">
    <style></style>
</head>

<body>


<main class="blog-layout-full text-dark" style="padding-top: 270px; padding-bottom: 270px;">

  <div class="container">
    <div class="row">
      <div class="text-center">
        <h1>Thank You For Registering</h1>
        <p class="lead mt-4 mb-4">
          We have received your information and will be in contact soon. In the mean time, please select the 
          area to read on while you wait. <br><br>
          <a href="/love" class="text-dark h2 text-decoration-underline">Love</a> - <a href="/health" class="text-dark h2 text-decoration-underline">Health</a> - <a href="/wealth" class="text-dark h2 text-decoration-underline">Wealth</a>
        </p>
        
      </div>
    </div>
  </div>

</main>

<%- include('layouts/scripts') -%>
</body>
</html>
